.main-nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.main-nav li {
    margin-left: 20px;
}

.main-nav a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.login-toggle {
    cursor: pointer;
}