<body>
  <div class="container" style="margin-top: 70px">
    
    {{#if currentUser}}
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Left side of the navbar -->
          <ul class="nav navbar-nav">
              <li><a class="navbar-brand" href="/">PDF Generator</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort By
                <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a href="/" class="sortByAll">All</a></li>
                  <li><a href="/" class="sortByFav">Favourites</a></li>
                </ul>
              </li>
              {{#if isInRole 'admin'}}
                <li class="dropdown dropdown-large">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Upload File <b class="caret"></b></a>
                  <ul class="dropdown-menu dropdown-menu-large row" style="width:560px; height:250px">
                    <div class="container">
                      {{> fileUpload}}
                    </div>
                  </ul>
                </li>
              {{/if}}
          </ul>

          <!-- Right side of the navbar -->
          <ul class="nav navbar-nav navbar-right">
            <li class="logout" style="cursor:pointer"><a><i class="glyphicon glyphicon-log-out"></i> Logout</a></li> 
          </ul>
        </div>
      </nav>

      {{#if isInRole 'admin'}}
        <h3 class="text-muted" id="templateHeader" style="margin-bottom: 30px; margin-top: 30px">Templates</h3>

        <div class="container" id="formDiv" style="padding-bottom:30px; border:1px solid #ECECEC; display:none; width:900px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <button class="close closeForm" style="float:right; margin-right: 10px; margin-top: 10px">&times;</button>
          <div id="pdfGenForm" style="float:right; width:500px; margin-top: 40px"></div>
          <div style="width: 350px">
            <center><img id="templateImage" src="" style="margin-top: 40px"></center>
            <center><h3 id="templateTitle"></h3></center>
            <p style="margin-top: 30px" id="templateDescription"></p>
          </div>
        </div>

        <div class="row" id="templatesRow">
          {{#each getAllFiles}}
            <div class="col-sm-3">
              <button class="close deleteFile" style="float:right; margin-right: 10px; margin-top: 5px">&times;</button>
              <button style="float:left; margin-left: 5px; margin-top: 5px; border: none; background: none;">
                {{#if fileInUsersFavourites this._id}}
                  <i class="glyphicon glyphicon-star removeFromFavourites" style="font-size: 20px;"></i>
                {{else}} 
                  <i class="glyphicon glyphicon-star-empty addToFavourites" style="font-size: 20px;"></i>
                {{/if}}
              </button>
              <div class="thumbnail display_form" style="cursor: pointer">
                <p hidden>{{this._id}}</p>
                <img src="/images/{{getExtension this.name}}.png" style="padding-right: 20px">
                <div class="caption">
                  <h4 style="word-wrap: break-word;">{{cleanTitle this.name}}</h4>
                  <p>{{this.description}}</p>
                </div>
              </div>
            </div>
          {{/each}}
        </div>

      {{else}}
        <h3 class="text-muted" id="templateHeader" style="margin-bottom: 30px; margin-top: 30px">Templates</h3>

        <div class="container" id="formDiv" style="padding-bottom:30px; border:1px solid #ECECEC; display:none; width:900px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <button class="close closeForm" style="float:right; margin-right: 10px; margin-top: 10px">&times;</button>
          <div id="pdfGenForm" style="float:right; width:500px; margin-top: 40px"></div>
          <div style="width: 350px">
            <center><img id="templateImage" src="" style="margin-top: 40px"></center>
            <center><h3 id="templateTitle"></h3></center>
            <p style="margin-top: 30px" id="templateDescription"></p>
          </div>
        </div>

        <div class="row" id="templatesRow">
          {{#each getAllFiles}}
            <div class="col-sm-3">
            <button style="float:left; margin-left: 5px; margin-top: 5px; border: none; background: none;">
              {{#if fileInUsersFavourites this._id}}
                <i class="glyphicon glyphicon-star removeFromFavourites" style="font-size: 20px;"></i>
              {{else}} 
                <i class="glyphicon glyphicon-star-empty addToFavourites" style="font-size: 20px;"></i>
              {{/if}}
            </button>
              <div class="thumbnail display_form" style="cursor: pointer">
                <p hidden>{{this._id}}</p>
                <img src="/images/{{getExtension this.name}}.png" style="padding-right: 20px">
                <div class="caption">
                  <h3 style="word-wrap: break-word;">{{cleanTitle this.name}}</h3>
                  <p>{{this.description}}</p>
                </div>
              </div>
            </div>
          {{/each}}
        </div>

      {{/if}}

    {{else}}
      
      <div class="col-md-6" style="margin-top:50px">
        <img src="/images/AppLogo.png">
      </div>

      <div class="col-md-5" style="margin-top:60px">
        {{> Login}}
      </div>
    
    {{/if}}

  </div>
</body>