<template name="fileUpload">

	<div class="col-xs-12" style="float:left; margin-top: 30px; margin-bottom: 30px">
		<textarea style="width:45%; float:left" class="form-control" rows="5" id="file-description" placeholder="Enter file description before choosing a file."></textarea><br><br><br><br><br><br><br>
		<label class="btn btn-primary" style="width:45%; margin-right: 20px" id="upload-label" for="my-file-selector">
			<input id="my-file-selector" type="file" style="display:none;" >
			<i class="glyphicon glyphicon-cloud-upload"></i> Upload File
		</label>
	</div>

	<script type="text/javascript">
		// This function will enable the upload button when something has
		// been typed into the textbox
		$(document).ready(function() {
			$('label').attr('disabled', true);
			$('input[type="text"],textarea').on('keyup',function() {
			    var textarea_value = $("#file-description").val();
			    if(textarea_value != '') {
			        $('label').attr('disabled' , false);
			    }else{
			        $('label').attr('disabled' , true);
			    }
			});
		});

	</script>
</template>