
<template name="override-atTextInput">
  <div class="at-input {{#if isValidating}}validating{{/if}} {{#if hasError}}has-error{{/if}} {{#if hasSuccess}}has-success{{/if}} {{#if feedback}}has-feedback{{/if}}">

    {{#if showLabels}}
      <label for="at-field-{{_id}}">
        {{displayName}} {{#unless required}}{{optionalText}}{{/unless}}
      </label>
    {{/if}}
    <input class="form-control" type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" placeholder="{{placeholder}}" autocapitalize="none" autocorrect="off">
    {{#if hasIcon}}
        <span class="{{iconClass}}"></span>
    {{/if}}
    {{#if hasError}}
      <span>{{errorText}}</span>
    {{/if}}
    <br>

  </div>
</template>

<template name="override-atSignupLink">
  <center>
    <div class="at-signup-link">
      <p>
        {{preText}}
        <a href="{{signUpLink}}" id="at-signUp" class="at-link at-signup {{disabled}}">{{linkText}}</a>
        {{suffText}}
      </p>
    </div>
  </center>
</template>

<template name="override-atPwdFormBtn">
  <center>  
    <button type="submit" class="btn btn-primary at-btn submit {{submitDisabled}}" id="at-btn" style="width:100%; margin-top:20px; margin-bottom:15px">
      {{buttonText}}
    </button>
  </center>
</template>